<% if object && object.errors.size > 0 %>
  <div id="errorExplanation">
    Se han encontrado los siguientes errores:
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>