<div class="help">
  <a class="help-title" href="#" onclick="toggle_visibility('help-content');">¿Cómo seleccionar la ubicación de la franquicia?</a>
  <div id="help-content">
    Existen dos opciones para seleccionar la ubicación de una nueva franquicia: <br>
    1. Navegar el mapa y hacer clic sobre el punto en el que deseamos ubicar la nueva franquicia. <br>
    2. Hacer una búsqueda, que nos traerá uno o más resultados. En este caso podemos hacer clic sobre el logo que elegimos y seleccionar esa ubicación. También es posible arrastrar el logo para modificar su ubicación o simplemente hacer clic sobre un lugar específico del mapa, creando así una nueva ubicación.
  </div>
</div>