<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  	<div>
    	<%= link_to "LOMITOS 2X1", franchises_path, id: "logo" %>
	</div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "LISTADO", franchises_path %></li>
        <li><%= link_to "CREAR", new_franchise_path %></li>
        <li><%= link_to "SALIR", logout_path, method: "delete" %></li>
      </ul>
    </nav>
  </div>
</header>